html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(#22202c, #402845);
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: Roboto;
	src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body,
input,
button {
	font: 14px 'Roboto', sans-serif;
}
